*{
    margin: 0;
    padding: 0;
}
.mt40{
    margin-top: 40px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.fs30{
    font-size: 30px;
}

.header{
    height: 750px;
    background-color: rgb(245, 220, 175);
    margin-bottom: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;

}

nav ul li  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.banner{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.head-img{
    width: 100%;
    position: relative;
    height: 480px;
}

.p-btn{
    font-size: 20px;
    padding: 9px 13px;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 7px;
    width: 130px;
}

/* this is a feature  section   */


.feature-sect{
    display: flex;
    
    width: 80%;
    margin: 0 auto;
}

.f-img{
    padding: 5px;
    height: 250px;
}
.f-imgs{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.f-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    row-gap: 30px;
}
/* this  is  a experience  section  */

.exp{
    display: flex;
    width: 80%;
    margin :0 auto;
    margin-top: 60px;
}

.expimg{
    width: 90%;
    margin-left: 40px;
}

.exp-text{
    display: grid;
    gap: -25px;
}

.p-tag{
    margin-top: 5px;
    opacity: .7;
}
.bleft{
    border-left: 4px solid  rgb(240, 226, 28);
    padding-left: 7px;
}
.intext{
    align-self: center;
    padding: 20px;
    margin-right: 15px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.11);
}

.expbtn{
    margin-top: -40px;
    margin-left: 20px;
    padding: 20px;
}

/* this  is a fact section  */

.facts{
    width: 80%;
    margin: 0 auto;
}
.infact{
    height: 150px;
    border: 1px solid orange;
    width: 150px;
    text-align: center;
    border-radius: 6px;
}

.fects-details{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 20px;
    width: 90%;
    margin: 40px auto;
}
/* this  is sponsor section  */

.sponsor{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.spon-img{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    filter: grayscale(100%);
    margin-bottom: 50px;
}

.imge{
    width: 100px;
}

.footer{
    width: 80%;
    background-color: #f0a9a973;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

@media  screen and  (max-width:  576px) {
    nav{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .head-img{
        height: 300px;
    }
    .header{
        height: 670px;
    }
    .banner{
        height: 85%;
    }
     /* this is  feature section responsive  */
    .feature-sect{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .f-imgs{
        grid-template-columns: repeat(1 , 1fr);
    }
    .f-img{
        width: 100%;
        height: auto;
    }

    .f-content{
        margin-top: 30px;
    }

    /* this is a  experience responsive  */

    .exp{
        flex-direction: column;
    }

    .exp-text{
        gap: 20px;
    }
    .expimg{
        margin-top: 45px;
    }

    /* this is fect section  */
    .fects-details{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }

    /* sponsor section */
    .spon-img{
        grid-template-columns: repeat(1,1fr);
        margin: 40px auto;
        width: 60%;
        row-gap: 30px;
    }
    .imge{
        width: auto;
    }
}

@media  screen and  (min-width:  576px) and (max-width:990px) {
    .feature-sect{
        flex-direction: column;
        margin-bottom: 40px;
        
    }
    .f-content{
        margin-top: 30px;
    }
    .f-img{
        width: 95%;
        height: auto;
    }
    /* this is experience */
    .exp{
        flex-direction: column;
    }

    .exp-text{
        gap: 20px;
    }
    .expimg{
        margin-top: 45px;
    }
     /* this is fect section  */
     .fects-details{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
    /* sponsor section */
    .spon-img{
        grid-template-columns: repeat(2,1fr);
        margin: 40px auto;
        width: 60%;
        row-gap: 30px;
    }
}